/* =================ADAPTIVE(Welcome Screen)============== */

@media screen and (max-width: 1320px){
    .Purchase{
        grid-area: 2/1/3/6;
        margin: 0;
    }
    .explore{
        grid-area: 3/1/4/6;
        margin: 30px 0;
        align-self: flex-start;
    }
    #items ul{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 225px);
    }
    #items ul li:nth-child(1){
        grid-area: 1/1/2/3;
    }
    #items ul li:nth-child(2){
        grid-area: 1/3/2/5;
    }
    #items ul li:nth-child(3){
        grid-area: 1/5/2/7;
    }
    #items ul li:nth-child(4){
        grid-area: 2/5/3/7;
    }
    #items ul li:nth-child(5){
        grid-area: 2/1/3/5;
    }
    #items ul li:nth-child(6){
        grid-area: 3/3/4/7;
    }
    #items ul li:nth-child(7){
        grid-area: 3/1/4/3;
    }
    #items ul li:nth-child(8){
        grid-area: 4/1/5/3;
    }
    #items ul li:nth-child(9){
        grid-area: 4/3/5/5;
    }
    #items ul li:nth-child(10){
        grid-area: 4/5/5/7;
    }
    #services ul{
        grid-template-rows: 50vh 50vh;
    }
    .subheader_img{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 50px;
        justify-content: center;
    }
    .subheader_img div:nth-child(3){
        grid-area: 2/1/3/3;
    }
    .reviews-content{
        grid-area: 2/3/5/8;
    }
    .t6{
        align-self: center;
        grid-area: 5/3/6/5;
    }
    
    .t7{
        align-self: center;
        grid-area: 5/5/6/7;
    }
    
    .t8{
        align-self: center;
        grid-area: 5/4/6/6;
    }
    
    .t9{
        align-self: center;
        grid-area: 5/6/6/8;
    }
    #reviews h2{
        text-align: center;
    }
}

@media screen and (max-device-width: 841px){
    .grafics{
        display: grid;
        grid-template-rows: repeat(14, 100px);
        grid-template-columns: repeat(1, 1fr);
    }
    .grafic-1{
        grid-area: 10/1/11/5;
    }
    .grafic-2{
        grid-area: 11/1/12/5;
    }
    .grafic-3{
        grid-area: 12/1/13/5;
    }
    .grafic-4{
        grid-area: 13/1/14/5;
    }
    .grafic-5{
        grid-area: 14/1/15/5;
    }
    .second-hr{
        grid-area: 4/1/5/3;
    }
    .reviews-content{
        grid-area: 2/1/5/10;
    }
    .t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8, .t9{
        align-self: center;
    }
    .t1{
        grid-area: 5/1/6/2;
    }
    .t2{
        grid-area: 5/2/6/3;
    }
    .t3{
        grid-area: 5/5/6/6;
    }
    .t4{
        grid-area: 5/3/6/4;
    }
    .t5{
        grid-area: 5/4/6/5;
    }
    .t6{
        grid-area: 5/6/6/7;
    }
    .t7{
        grid-area: 5/7/6/8;

    }
    .t8{
        grid-area: 5/8/6/9;
    }
    .t9{
        grid-area: 5/9/6/10;
    }
    .contact{
        padding: 0;
    }
    footer{
        height: 150px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
    }
    .telNumber{
        grid-area: 2/1/3/2;
    }
    .street{
        grid-area: 1/1/2/2;
    }
}

@media all and (max-device-width: 645px){
    .stat-itm{
        font-size: 30px;
    }
    #services ul{
        height: 1600px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    #services ul li h3{
        text-align: left;
        font-size: 27px;
    }
    #services ul li p{
        font-size: 25px;
    }
    #services ul li i{
        font-size: 60px;
    }
    .reviews{
        height: ;
    }
    .grafics h3{
        display: none;
    }
    .reviews-content{
        font-size: 25px;
    }
    .contact{
        height: 600px;
    }
}

@media all and (max-device-width: 555px){
    .header button{
        width: 230px;
        height: 80px;
        font-size: 25px;
    }
    .graf span{
        font-size: 25px;
    }
}

@media all and (max-device-width: 505px){
    .grafics h2{
        grid-row: 1/3;
        align-self: center;
    }
}